<div class="container">
  <div class="section">
    <h2 class="title">Innovative Task</h2>
    <h3 class="subtitle">Developed By Mazen Saiid</h3>
    <p class="col-9">
    This is a web application designed to manage a list of clients. It allows users to perform CRUD (Create, Read, Update, Delete) operations on client data and send emails to clients. The frontend is built using Angular, while the backend is developed using .NET Core Web APIs. Additionally, it uses Microsoft SQL Server for data storage.
    </p>
    <a class="btn btn-outline-primary" routerLink="/client-list" >Discover Now</a>
  </div>
</div>
